{% extends 'ambientePizarra/base.html' %}
{% load static %}
{% block content %}

    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text mb-0">Ambiente de Pizarra</h1>
            <!-- Icon Divider-->
						<br>
            		<img src={% static "assets/img/pizarraonline.jpg" %} alt="pizarraonline">
            <!-- Masthead Subheading-->
						</br>
            <!-- Masthead Buttons-->
        </div>
    </header>

{% endblock %}