{% extends 'agenda/base.html' %}
{% load static %}
{% block content %}
		<!doctype html>
		<html lang="en">
				<head>
						<!-- Required meta tags -->
						<meta charset="utf-8">
						<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
						<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

						<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

						
						<link rel="stylesheet" href={% static "calendar/fonts/icomoon/style.css" %}>
					
						<link href={% static 'calendar/fullcalendar/packages/core/main.css' %} rel='stylesheet' />
						<link href={% static 'calendar/fullcalendar/packages/daygrid/main.css' %} rel='stylesheet' />
						
						
						<!-- Bootstrap CSS -->
						<link rel="stylesheet" href={% static 'calendar/css/bootstrap.min.css'%}>
						
						<!-- Style -->
						<link rel="stylesheet" href={%static 'calendar/css/style.css'%}>

						<title>Calendar #9</title>
				</head>
				<body>
				

					<div class="content">
							<div id='calendar'></div>
					</div>
						
						

						<script src={%static 'calendar/js/jquery-3.3.1.min.js' %}></script>
						<script src={%static 'calendar/js/popper.min.js' %}></script>
						<script src={%static 'calendar/js/bootstrap.min.js' %}></script>

						<script src={%static 'calendar/fullcalendar/packages/core/main.js' %}></script>
						<script src={%static 'calendar/fullcalendar/packages/interaction/main.js' %}></script>
						<script src={%static 'calendar/fullcalendar/packages/daygrid/main.js' %}></script>

						<script>
							document.addEventListener('DOMContentLoaded', function() {
						var calendarEl = document.getElementById('calendar');

						var calendar = new FullCalendar.Calendar(calendarEl, {
							plugins: [ 'interaction', 'dayGrid' ],
							editable: true,
							eventLimit: true, // allow "more" link when too many events
							
							events: [
								{

									title: 'hola',
									start: '2021-04-31'
								},
							]
						});

						calendar.render();
					});

						</script>

						<script src={% static 'calendar/js/main.js' %}></script>

              <!-- Button + modal agendar reunion  -->
	<div class="mx-auto">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agendarReunion">
        Agendar Reunión
    </button>

    <div class="modal fade" id="agendarReunion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
		  <div class="mx-auto">
			<div class="modal-footer">
						{% if submitted %}
						{% else %}
						
							<form action="http://127.0.0.1:8000/agenda/" method=POST>
									<h3>Agendar Reunión:</h3>
									{% csrf_token %}

									{{ form.as_p }}
									<button class="btn btn-lg btn-primary btn-block text-uppercasee"  role= "button" type="submit">Agregar Reunión</button>
																	

								<!-- 	<input type="hidden" name="csrfmiddlewaretoken" value="pHK2CZzBB323BM2Nq7DE2sxnQoBG1jPl" disabled="">
									<p><label for="id_nombre">Nombre:</label>
									<input type="text" name="nombre" class="form-control" maxlength="60" required="" id="id_nombre"></p>
									<p><label for="fecha">Fecha:</label> <input type="date" name="Fecha" required id="Fecha"></p>
									<button class=""btn btn-lg btn-primary btn-block text-uppercasee" href="/agenda" role="button" type="submit">Agendar</button> -->
							</form>
						{% endif %}
			</div>
		  </div>
        </div>
      </div>
    </div>

              <!-- Button + modal agendar reunion  -->

	
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modificarReunion">
		Modificar Reunión
	</button>
    <div class="modal fade" id="modificarReunion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modificar Reunion</h5>
						
          </div>
	
			<table class="table">
				<thead>
				<tr>
					<th scope="col">Entrevista</th>
					<th scope="col">Fecha</th>
					<th scope="col">Lenguaje</th>
					<th scope="col">Acción</th>
				</tr>
				</thead>
				<tbody>
				{% for evento in eventos %}
				<tr>
					<th>{{evento.nombre_agenda}}</th>
					<td>{{evento.fecha}}</td>
					<td>{{evento.lenguaje_programacion}}</td>
					<td>
						<div >
							<button type="button" class="btn btn-primary">Modificar</button>
							<button type="button" class="btn btn-danger">Eliminar</button>
					    </div>
					</td>
				</tr>
				{% endfor %}
				
				</tbody>
			</table>
		  
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
	</div>
	</body>
	</html>
{% endblock %}